.table-button {
  margin-left: 0.5rem;
  background-color: #6d7ecc76;
  height: 2rem;
  border-radius: 0.5rem;
  border: solid 1px #6d7ecc;
  color: rgb(255, 255, 255);
}
.table-button i {
  color: rgb(255, 255, 255);
}
.app-table{
    color: #6d7ecc;
    background-color: rgb(255, 255, 255);  border-radius: 1.5rem;
padding: 2.5rem !important;
}