<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3>Cubix</h3>
      </div>
  
      <ul class="list-unstyled components">
        <p>Dashboard</p>
  
        <li>
          <a href="/dashboard" data-toggle="collapse" aria-expanded="false"
            >Home</a
          >
        </li>
  
        <li>
          <a href="/dashboard/roles" data-toggle="collapse" aria-expanded="false"
            >Roles</a
          >
        </li>
  
        <li>
          <a href="/dashboard/users">Users</a>
        </li>
      </ul>
    </nav>
  
    <!-- Page Content  -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
      </nav>
      <%- include("./partials/adduser") %>
    </div>
  </div>
  