<div class="app-table">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Route</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <% for (var i = 0; i < data.length; i++) {%>
      <tbody>
        <tr>
          <td><%= i +1 ??"Null"%></td>
          <td><%= data[i].route??"Null" %></td>
          <td><%= data[i].date??"Null" %></td>
    
        </tr>
      </tbody>
      <%}%>
    </table>
  </div>

  