  
<table class="table">
    <thead>
      <tr>
          <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Password</th>
        <th scope="col">Slug</th>
     </tr>
    </thead>
    <%- include("./table"); %>
  </table>
  